@import '~antd/dist/antd.css';

$primaryColor: #16504A;
$secondaryColor: #7BC26D;
$green: #8FC8C8;
$lightGrey: #E8E8E8;
$white: #FFF;

//Ant Design overrides
.ant-menu {
  .ant-menu-item {
    &:hover {
      border-bottom: 2px solid $secondaryColor;
      color: $secondaryColor;
    }
  }
  .ant-menu-item-selected {
    border-bottom: 2px solid $secondaryColor;
    color: $secondaryColor;
  }
}
.ant-layout-header {
  background: transparent;
}
.ant-layout-sider {
  background: $lightGrey;
  height: 100%;
  min-height: 100vh;
  .anticon {
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 40px;
    cursor: pointer;
    color: $primaryColor;
  }
}
#maintenance {
  background: $primaryColor;
  padding: 10px 0 0 0;
  .heading {
    color: $white;
    font-weight: lighter;
    font-size: 40px;
    display: inline-block;
    border-left: 2px solid #366665;
    vertical-align: middle;
    padding-left: 25px;
    margin-bottom: 0;
  }
  .logo {
    display: inline-block;
  }
  .helpSupport {
    color: $secondaryColor;
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding-top: 15px;
    text-decoration: none;
  }
  .maintenanceMenu {
    background: transparent;
    border-bottom: 1px solid transparent;
    color: #FFF;
  }
}

.appContent {
  background: $white;
  padding: 25px;
}

.deductionsBar {
  display: flex;
}

.backLink {
  color: $green;
  flex: auto;
  font-size: 20px;
  &:hover {
    color: $secondaryColor;
  }
}

.exportToExcel {
  color: $green;
  flex: auto;
  text-align: right;
  font-size: 20px;
  &:hover {
    color: $secondaryColor;
  }
}

.exportBtn {
  border: 2px solid $green;
  padding: 10px;
  &:hover {
    border: 2px solid $secondaryColor;
  }
}

//Filters
.filterBar {
  background: $lightGrey;
  margin: 30px 0;
  padding: 15px;
}
